<div class="draftee">
  <h2><a href="{{ .playbook_url }}">{{ .title }}</a></h2>
  {{ with .description }}<p><span>{{ . }}</span></p>{{ end }}
  {{ with .usdr_summary }}<p><blockquote>{{.}} &mdash; USDR Team</blockquote></p>{{ end }}
  <h4>
    {{ with .organization }}
    By {{ with .url }}<a href="{{ . }}">{{ end }}{{ with .name }}{{ . }}{{ end }}{{ with .url }}</a>{{ end }}.
    {{ end }}

    
  

  </h4>
  <p><b>Audience:</b> {{ with .audience }}{{ delimit . ", " ", and " }}{{ end }}</p>
</div>
